<body>
    <form action="/persona/registro" method="post">
        <div class="container">
            <div class="row justify-content-center pt-5 mt-5 mr-1">
                <div class="cold-md-4 formulario">
                    <div class="form-group text-center">
                        <h1>Registrar Persona</h1>
                    </div>
                    <div class="form-group">
                        Nombre<input type="text" class="form-control" placeholder="Nombre" />
                        @Html.ValidationMessage("Nombre")
                        Apellido<input type="text" class="form-control" placeholder="Apellido" />
                        @Html.ValidationMessage("Apellido")
                        Fecha<input type="text" class="form-control" placeholder="Fecha" />
                        @Html.ValidationMessage("Fecha")
                        DNI<input type="text" class="form-control" placeholder="DNI" />
                        @Html.ValidationMessage("DNI")
                        Genero <select name="Sexo" class="form-control">
                            <option class="form-group" value="Hombre">Hombre</option>
                            <option class="form-group" value="Mujer">Mujer</option>
                            @Html.ValidationMessage("Genero")
                        </select>
                        Ciudad <select name="Ciudad" class="form-control">
                            <option class="form-group" value="San Marcos">San Marcos</option>
                            <option class="form-group" value="Chota">Chota</option>
                            <option class="form-group" value="Jaen">Jaén</option>
                            <option class="form-group" value="Cutervo">Cutervo</option>
                            <option class="form-group" value="Celendin">Celendín</option>
                            <option class="form-group" value="Cajabamba">Cajabamba</option>
                            <option class="form-group" value="Cajamarca">Cajamarca</option>
                            <option class="form-group" value="San Ignacio">San Ignacio</option>
                            @Html.ValidationMessage("Ciudad")
                        </select>
                        @Html.ValidationMessage("Direccion")
                        Dirección<input type="text" class="form-control" placeholder="Direccion" />
                        @Html.ValidationMessage("Correo")
                        Correo<input type="text" class="form-control" placeholder="Correo" />
                        @Html.ValidationMessage("Username")
                        Nombre Usuario<input type="text" class="form-control" placeholder="Nombre de usuario" />
                        @Html.ValidationMessage("Contraseña")
                        Contraseña<input type="password" class="form-control" placeholder="Contraseña" />
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Guardar</button>
    </form>
</body>